<!DOCTYPE html>
<html lang="en">
<head>
    
   {{>headerlinks}}
</head>
<body>
   {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-6 col-12 mx-auto">
             <div class="main-content">
               <form class="temp_form">
                 <input type="text" id="cityName" placeholder="Enter your City name" autocomplete="off">
                  <input type="submit" value="search" id="submitBtn">
               </form>
             </div>
             <div class="tempInformation">
                 <div class="top_layer">
                    <p id="day">Tuesday</p>
                    <p id="today_date">13 Oct</p>
                </div>
                 <div class="main_layer">
                 <p id="city_name">Get Output here</p>
                 <div class="middle_layer data_hide">
                  <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                  <P id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></P>
                 </div>
                 </div>
             </div>
            </div>
        </div>
    </div>

    <!--Footer code-->
    {{>footer }}

  <script>
    
     const getCurrentDay = () =>{
        let weekday = new Array(7);
        weekday[0] = "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tueday";
        weekday[3] = "Wedday";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Sturday";

        let currTime = new Date();
        let days = weekday[currTime.getDay()]

        let day = document.getElementById('day')
        day.innerText = days;
        return day;
     }

     getcurrentday()

     const getcurrenttime=()=>{
    var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];
    let now=new Date();
    var month=months[now.getMonth()];
    var day=now.getDate();

    return ` ${day} ${month}`
}
let today_date=document.getElementById("today_date")
today_date.innerText=getcurrenttime();

     
  </script>

      <script src="../js/main.js"></script>
</body>
</html>